body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.app-wrapper{
    /* background-image: url("https://images.unsplash.com/photo-1602432799369-10a0b4d6dda9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=997&q=80"); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-wrapper{
    /* background-color: #BCBAF3; */
    background: linear-gradient(180deg, rgba(39,57,148,1) 0%, rgba(186,197,228,1) 100%);
        width: 650px;
   border-radius: 10px;

   
}
.title-wrapper{
    display: flex;
 justify-content: center;
}
.title-wrapper h1{
    font-weight: 600;
    display: flex;
 justify-content: center;
}
.quote-wrapper{
 display: flex;
 justify-content: center;
 margin-top: 18px;
 margin-bottom: 18px;
 width: 100%;
 height: auto;
 font-size: 1.2rem;
 
}
.quote-wrapper h3{
    text-align: center;
    font-weight: 400;
    margin: 0px 15px;
   }
.author-wrapper{
    display: flex;
    justify-content: center;
}
.author-wrapper h4{
    font-weight: 400;
    display: flex;
    justify-content: center;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.button{
  font-size: 2rem;
  margin-top:15px ;
  margin-bottom:15px ;
  cursor: pointer;
 
}
.button:hover{
    transform: rotate(360deg);
    
    transition: transform .7s ease-in-out;
}

 

.footer{
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0 ;
    font-size: 0.8rem;
}